bin/
obj/
.vs/
csx/
artifacts/
packages/
FakesAssemblies/
Kaseya.AuthAnvil/SharedAssemblyInfo.cs
**/FakesAssemblies
*.user
*.coverage
.DS_Store
SandboxWorkerContent/*
.idea/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
CoverageReport/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c


*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
Kaseya.AuthAnvil/Kaseya.AuthAnvil.Cloud/ecf/Kaseya.AuthAnvil.WorkerContent/diagnostics.wadcfgx
FunctionalTesting/Tests/UI/projects/ssomanager/suites/SSOManager_failed_chrome.suite
FunctionalTesting/Tests/UI/projects/authmanager/suites/AuthManager_failed_chrome.suite
Kaseya.AuthAnvil/coverage.bat
Kaseya.AuthAnvil/results.xml
FunctionalTesting/Tests/REST/suites/Groups_failed_chrome.suite
FunctionalTesting/Tests/REST/suites/Organizations_failed_chrome.suite
FunctionalTesting/Tests/REST/suites/ProvisioningPolicies_failed_chrome.suite
FunctionalTesting/Tests/REST/projects/universal-directory/tenants/PostTenant_failed_chrome.dd.csv
_failed_chrome.dd.csv
~lock.GetTenant.dd.csv#
~lock.PostTenant.dd.csv#
FunctionalTesting/libs/cycleId.sah
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/Awesomium.Core.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/Awesomium.Windows.Controls.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/Awesomium.Windows.Forms.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/HtmlAgilityPack.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/Kaseya.AuthAnvil.Telemetry.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/Kaseya.AuthAnvil.Worker.Fastpass.exe
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/Newtonsoft.Json.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/StackifyLib.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/avcodec-53.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/avformat-53.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/avutil-51.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/awesomium.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/icudt.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/libEGL.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/libGLESv2.dll
Kaseya.AuthAnvil/Cloud/SandboxWorkerContent/Fastpass/xinput9_1_0.dll
*.VC.db
*.VC.opendb
*.lastbuildstate
*.tlog
*.idb
.sonarqube/
*.nupkg
/Kaseya.Authenticator/Kaseya.Droid/Resources/Resource.Designer.cs
/Xamarin/MobileAppOne/UpgradeLog2.htm
/Xamarin/MobileAppOne
/agents/AARADIUS/UpgradeLog.htm
/agents/CredentialProvider/WinCPInstaller/UpgradeLog.htm
/agents/Kaseya.AuthAnvil.DirSync/UpgradeLog.htm
/Kaseya.AuthAnvil/UpgradeLog.htm
/Kaseya.AuthAnvil/Web/static
/Kaseya.AuthAnvil/Web/react/node_modules

# Don't ignore
!/wix/3.11
!/wix/3.11/*
!NDP472-KB4054531-Web.exe
!dotnet-runtime-2.2.2-win-x64.exe
!vc_redist.x64.exe
!Kaseya.AuthAnvil/Cloud/Kaseya.AuthAnvil.WebContent/bin
!Kaseya.AuthAnvil/Cloud/Kaseya.AuthAnvil.WorkerContent/bin

# Secrets
**/secret.properties
**/secret.blue.properties
*.publishsettings
/scripts/**/*.cscfg
**/*rendered*
